.products-grid {
  display: flex;
  flex-wrap:wrap;
  list-style-type: none;
  margin: 0;
  max-width: 114rem;
  padding: 3rem;
  img {
    width: auto;
    height: 18em;
    justify-content: space-around;
  }
}
.product-card_image {
  display: flex;
  justify-content: space-around;
}

.product-card_header {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .products-grid {
    flex-wrap:wrap;
    justify-content:space-between;
  }
}

@media (min-width: 1200px) {
  .products-grid {
    flex-wrap:wrap;
    justify-content:space-between;
  }
}
