<%#= t "about_us_terms" %>

<h2>Acerca de Shapes</h2>
<p>SHAPES fue fundada con el objetivo de proporcionar productos de alta calidad que satisfagan las necesidades de cada mujer que valora sentirse bien en su propia piel. Nuestra misión es satisfacer esas necesidades con calidad garantizada.</p>
<p>Ofrecemos una amplia gama de productos, incluyendo ropa, lencería europea de marcas conocidas, ropa interior invisible, ropa de maternidad, accesorios para mujeres y trajes de baño. Continuamente estamos ampliando nuestra colección para brindarles a nuestros clientes productos nuevos e innovadores. Nos enorgullecemos de ofrecer productos para todas las formas y tallas, creados por mujeres, con las necesidades de cada mujer en mente.</p>
<p>Nuestro lema es siempre mejorar, crecer y aprender. Estamos dedicados a constantemente innovar para ofrecerte la mejor experiencia y calidad posible.</p>
<p>Además de nuestros productos, también ofrecemos consejos y trucos para ayudar a nuestros clientes a mostrar su mejor versión. Estamos dedicados a ayudar a cada mujer a sentirse segura y hermosa en su propia piel.</p>
<br>
<br>
<h2>About Shapes</h2>
<p>SHAPES was founded with the goal of providing high-quality products that cater to the needs of every woman who values feeling good in her own skin. Our mission is to meet those needs with guaranteed quality. </p>
<p>We offer a wide range of products including clothing, European lingerie from well-known brands, invisible underwear, maternity wear, women's accessories, and swimwear. We are continuously expanding our collection to provide our customers with new and innovative products. We pride ourselves on offering products for all shapes and sizes, created by women, with the needs of every woman in mind.</p>
<p>Our motto is to always improve, grow, and learn. We are dedicated to constantly innovating to offer you the best possible experience and quality. </p>
<p>In addition to our products, we also provide tips and tricks to help our customers show their best selves. We are dedicated to helping each woman feel confident and beautiful in her own skin.</p>
