.auth-link {
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  @include tablet {
  }
}

.hidden {
  display: none;
}


.slide-show {
  // align-items: center;
  // display: flex;
  // flex-flow: row nowrap;
  // gap: 50px;
  // justify-content: center;
}


.slide {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  justify-content: center;
}

.slide-title {
  display: flex;
  justify-content: center;
}

.a-slide {
  display: flex;
  flex-flow: row nowrap;
  img {
    height: 30em;
  }
}







.info-container {
  width: 80%;
  background-color: #dbabb3;
  color: #5E1C4C;
}







.carouseln-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.carouseln-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg");
  background-size: cover;
}

.item-2 {
  background: url("https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg");
  background-size: cover;
}

.item-3 {
  background: url("https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}











.ft-block {
  // border-top: 2px solid #B76E7A;
  // padding: 0 1rem;
  // margin: 1em;
  display: flex;
}

.ft-photos {
  padding: 1rem 1rem;
  margin: 1rem;
  display: flex;
}

.ft-title-container {
  display: flex;
  justify-content: center;
}
.ft-title {
  margin: 1rem;
  margin-left: 2rem;
  padding-top: 2rem;
  color: #5E1C4C;
  -webkit-text-stroke: .03em #dbabb3;

  font-size: $h1-font-size * 2;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  justify-content: center;
}

.ft-subtitle {
  // margin: 1rem;
  // padding: 1rem;
}

.no-margin-top {
  margin-top: 0;
}

.for-them {
  // background-image: url("for_them/soccer3.jpg");
  // background-size: cover;
  background-image: linear-gradient(white, #DBABB3);
  // background-position: center;
}


.flex-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
















.brands-carousel {
  max-width: 75rem;
  max-height: fit-content;
  margin: 4em auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
  margin-top: 5rem;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #b76e7a;
  counter-increment: item;
  
}

.carousel__slide:nth-child(even) {
  background-color: #DBABB3;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(73, 73, 73);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: rgb(73, 73, 73);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}






.flex-block {
  display: flex;
  justify-content: center;
}












  





div.gallery {
  // border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  filter: drop-shadow(0 0 10px #C29274);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

  // @media (min-width: 500px) {
  //   width: 100%;
  // }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
