.categories {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;

    >li {
      display: flex;
      list-style-type: none;
      margin: 0 1rem;
      padding: 0;

      &.current {
        @extend %current-state-color-accent;
      }
    }
  }

  @media (max-width: 600px) {
    // display: none;
  }

  a {
    padding: 8px 16px;
    height: fit-content;

    @include tablet {
      font-size: $font-size-base;
    }
  }

  a:link {
    background-color: #eed9dd;
    text-decoration: none;
    border: solid 1px #772431;
    border-radius: 16px;
  }

  a:visited {
    color: #772431;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #772431;
    background-color: #DB99A4;
    transition: all ease .6s;
    filter: drop-shadow(0 0 18px #DBabb3);
  }

  a:active {
    color: #772431;
    background-color: transparent;
    text-decoration: underline;
  }
}