.header__primary-navigation {
  border-bottom: 14px solid #B76E7A;
  margin-bottom: 14px;
}

.heading {
  padding: 10px 0 2em 2em;
  margin-left: 2em;
  margin-top: 2em;
}

.categories {
  width: 100%;
  // border-bottom: 14px solid #B76E7A;

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;

    >li {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      &.current {
        @extend %current-state-color-accent;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .categories__list > li {
      padding: 0 8px 0 8px;
    }
  }

  @media (max-width: 900px) {
    a {
      padding: 24px 8px;
      height: fit-content;
      font-size: 8px;
      width: 12rem;
    }
  }

  a {
    padding: 4px 8px;
    margin: 2px;
    height: fit-content;

    @include tablet {
      font-size: $font-size-base;
    }
  }

  @media (min-width: 900px) {
    a {
      padding: 8px 16px;
    }
  }

  a:link {
    // background-color: #eed9dd;
    font-weight: 600;
    text-decoration: none;
    border: solid 1px #772431;
    border-radius: 16px;
    @media screen and (max-width: 1000px) {
      border-radius: 8px;
    }
  }

  a:visited {
    color: #772431;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #772431;
    background-color: #DBabb3;
    transition: all ease .6s;
    filter: drop-shadow(0 0 18px #DBabb3);
  }

  a:active {
    color: #772431;
    background-color: transparent;
    text-decoration: underline;
  }
}


@media (max-width: 1100px) {
  .header__primary-navigation {
    border-bottom: 4px solid #B76E7A;
    margin-bottom: 8px;
  }
}