.locale-selector {
  margin: 3rem auto;
  padding: 2rem;
  width: 20rem;
  border: 1px solid #734173;
  border-radius: 8px;
  background-color: #DB99a4;

  &__select-input {
    position: relative;

    select {
      padding: 0 3rem 0 1rem;
    }

    &::after {
      content: '\2304';
      font-size: 2rem;
      pointer-events: none;
      position: absolute;
      right: 1rem;
      bottom: 0;
      margin-bottom: .8rem;
    }
  }
}
