.search-bar {
  color: #772431;
  // border: 0;
  // border-radius: 16px;
  display: flex;
  position: relative;
  // padding: 0 2rem;

  @media (min-width: 900px) {
    // justify-content: flex-end;
  }

  &__select {
    appearance: none;
    // border-right: solid 1px $color-accent;
    display: none;
    padding: 0 2rem;
  }
  
  &__input {
    width: 19rem;
    background-color: #DB99a4;
    border: solid 1px #772431;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40%;
    flex-grow: 1;
    outline: none;
    padding: 0 1rem;
    -webkit-appearance: none;
  }

  &__button {
    background-color: #DB99a4;
    border: solid 1px #772431;
    border-left: 0px;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $color-copy-light;
    font-weight: $buttons-font-weight;
    padding: 0 2rem 0 1rem;
  }
  &__button:hover {
    background-color: #B76E7A;
    transition: all ease .6s;
  }
}
