<div class="carouseln-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carouseln-item item-1">
    <h2>Item 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat. Maecenas lacus nunc, imperdiet sed mi et, finibus suscipit mi.</p>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>
  
  <div class="carouseln-item item-2">
    <h2>Item 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>
  
  <div class="carouseln-item item-3">
    <h2>Item 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>
</div>

<script>
  // Select all carousel items and arrows
const items = document.querySelectorAll('.carouseln-item');
const prevArrows = document.querySelectorAll('.arrow-prev');
const nextArrows = document.querySelectorAll('.arrow-next');

// Initialize the current item to the first item
let currentItem = 0;

// Set the first item to be visible
items[currentItem].style.opacity = 1;

// Add click event listeners to the arrows
prevArrows.forEach(arrow => {
  arrow.addEventListener('click', () => {
    // Decrement the current item and set it to the last item if it is less than 0
    currentItem = (currentItem - 1 + items.length) % items.length;
    // Set all items to be invisible
    items.forEach(item => {
      item.style.opacity = 0;
    });
    // Set the current item to be visible
    items[currentItem].style.opacity = 1;
  });
});

nextArrows.forEach(arrow => {
  arrow.addEventListener('click', () => {
    // Increment the current item and set it to the first item if it is equal to or greater than the number of items
    currentItem = (currentItem + 1) % items.length;
    // Set all items to be invisible
    items.forEach(item => {
      item.style.opacity = 0;
    });
    // Set the current item to be visible
    items[currentItem].style.opacity = 1;
  });
});

</script>

<div class="brands-carousel">
  <section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
      <li id="carousel__slide1"
          tabindex="0"
          class="carousel__slide">
        <%= image_tag 'ysl.jpg' %>
        <div class="carousel__snapper">
          <a href="#carousel__slide4"
            class="carousel__prev">Go to last slide</a>
          <a href="#carousel__slide2"
            class="carousel__next">Go to next slide</a>
        </div>
      </li>
      <li id="carousel__slide2"
          tabindex="0"
          class="carousel__slide">
        <%= image_tag 'prada.jpg' %>

        <div class="carousel__snapper"></div>
        <a href="#carousel__slide1"
          class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide3"
          class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide3"
          tabindex="0"
          class="carousel__slide">
                  <%= image_tag 'lv.jpg' %>

        <div class="carousel__snapper"></div>
        <a href="#carousel__slide2"
          class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide4"
          class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide4"
          tabindex="0"
          class="carousel__slide">
                  <%= image_tag 'versace.jpg' %>

        <div class="carousel__snapper"></div>
        <a href="#carousel__slide3"
          class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide1"
          class="carousel__next">Go to first slide</a>
      </li>
    </ol>
    <aside class="carousel__navigation">
      <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1"
            class="carousel__navigation-button">Go to slide 1</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2"
            class="carousel__navigation-button">Go to slide 2</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3"
            class="carousel__navigation-button">Go to slide 3</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4"
            class="carousel__navigation-button">Go to slide 4</a>
        </li>
      </ol>
    </aside>
  </section>
</div>
