<div class="ft-block">
  <section class="for-them">

    <div class="ft-title-container">
      <h1 class="ft-title">
        <%= I18n.t("shapes_for_them_title") %>
      </h1>
    </div>

    <div class="ft-subtitle">
      <p class="subtitle">
        <%= I18n.t("shapes_for_them") %>
      </p>
    </div>

    <%= render "for_them_carousel" %>

  </section>
</div>
