<h1 class="heading"><%= t "fashion_afvice" %></h1>

<div class="videos">
  <div class="embed-responsive embed-responsive-16by9 video">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p class="__heading">First Advice</p>
  </div>

  <div class="embed-responsive embed-responsive-16by9 video">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p class="__heading">One more advice</p>
  </div>

  <div class="embed-responsive embed-responsive-16by9 video">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p class="__heading">Third advice</p>
  </div>
</div>
