.parallax-section {
  height: 600px;
  background-image: url("steps.jpg");
  // background-attachment: fixed;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  padding-top: 10px;

}

.hero {
  height: 600px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #5E1C4C;
  display: flex;
  flex-direction: column;
  justify-self: auto;
}

.hero__container {
  @extend %section-spacings;
  display: flex;
  align-self: flex-end;
}

.hero-title {
  padding-top: 1em;
  font-family: "Brush Script MT";
  display: flex;
  justify-content: center;
  color: #5E1C4C;
  -webkit-text-stroke: .03em #dbabb3;

  font-size: $h1-font-size * 2;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  /* Начальное состояние - скрытый текст не отображается */
}

.hidden.show {
  /* Конечное состояние - скрытый текст отображается */
  /* Анимация перехода от начального состояния к конечному, 
  длительностью 300ms, с типом easing "ease-in" */
}

@keyframes show {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.hero__message {
  color: #2b0c23;
  -webkit-text-stroke: .03em #dbabb3;
  font-weight: bolder;
  // display: flex;
  // flex-direction: column;
}

.hero-subtitle {
  padding: 1em;
  width: 100%;
  background-color: #E0C2AF;
  margin-top: 3rem;
  font-size: larger;
}

.heading {
  // align-self: flex-end;
}