.cont-block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  margin-left: 4px;
}

.my-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my-contacts {
  text-align: left;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em 0;
  text-align: center;
}

.lang {
  width: 25%;
}

.terms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  // margin: 2em 0;
}




.footer {
  background-color: #DBABB3;
  color: $color-copy-light;
  font-size: $font-size-small;
  // margin-top: 4rem;
  padding: 0 2rem;
  text-align: center;
  border-top: 2em solid #B76E7A;
  a {
    &:hover {
      color: lighten($color-copy, 30%);
    }
  }
}

.footer-link {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 80%;
  color: #772431;

  padding: 8px 2em;
  border: 1px solid #772431;
  border-radius: 8px;
  background-color: #DB99a4;
}

.footer-link:hover {
  color: #B76E7A;
  cursor: pointer;
}

.designed-by {
  color: #772431;
  font-weight: bolder;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.selector-title {
  color: #772431;
}

@media (max-width: 1100px) {
  .footer {
  }
  .my-footer {
    flex-flow: column nowrap;
    // width: 100%;
    align-content: center;
  }
  .my-contacts, .lang, .terms {
    width: 100%;
    // padding-bottom: 1rem;
    // margin-bottom: 1rem;
  }
  .lang {
    order: 1;
    // width: 80%;
  }
  .cont-block {
    justify-content: space-around;
    margin-bottom: 1rem;

  }
  .footer-link {
    width: 60%;
    margin-bottom: 2rem;
  }
}
