.tooltip {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.tooltip-text {
  padding: 6px;
  background-color: #DB99A4;
  color: #772431;
  font-size: 12px;
  position: absolute;
  border-radius: 5px;
  width: 110px;
  text-align: center;
  left: -125px;
  bottom: 14px;
  visibility: hidden;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #DB99A4;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-bottom {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.tooltip-bottom-text {
  padding: 6px;
  background-color: #DB99A4;
  color: #772431;
  font-size: 12px;
  position: absolute;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  display: inline-block;
  bottom: -46px;
  left: -50px;
  visibility: hidden;
}

.tooltip-bottom-text::after {
  content: "";
  position: absolute;
  left: 53px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #DB99A4;
}

.tooltip-bottom:hover .tooltip-bottom-text {
  visibility: visible;
}

.advert {
  margin-bottom: 12px;
  img {
    width: 100%;
    max-height: 300px;
  }
}

.top-bar {
  background-image: linear-gradient(to right,white, #DBABB3);
  display: flex;
  flex-wrap: wrap;
  // flex-flow: row nowrap;
}
.cart {
  display: flex;
}

.cont-part {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
}

.logo {
  display: flex;
  img {
    width: 300px;
    justify-content: flex-start;

  }
}

.row {
  display: flex;
  // justify-content: flex-start;
}

.bt-line {
  display: flex;
  justify-content: flex-start;
}

.infoe {
  border: 0;
  background-color: transparent;
}

.infoe:hover {
  color: #B76E7A;
  transition: all ease .3s;
}

.header-cont-block {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.row-cont {
  display: flex;
  justify-content: flex-end;
}

.row-search {
  display: flex;
  justify-content: space-between;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cart {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .top-bar {
    flex-wrap: nowrap;
  }

  .logo {
    margin: 0;
    order: 1;
    justify-content: flex-start;
    .img {
      width: 150px;
    }
  }

  .cont-part {
    order: 2;
  }

  .row-cont {
    // display: flex;
    // justify-content: flex-end;
    // width: 30%;
    // height: 20px
  }

    .row-search {
    // height: 20px;
    // display: flex;
    // justify-content: space-around;
  }
}


.newheader {
  max-height: 20%;
  display: flex;
  background-image: linear-gradient(to right,white, #DBABB3);
  justify-content: space-between;
}
.logo {
  order: -1;
  // border: 2px solid black;
  width: 30%;
}
.middle-section {
  width: 30%;
}
.cont-part {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top-row {
  display: flex;
  justify-content: space-evenly;
  height: 3em;
}
@media (max-width: 1100px) {
  .middle-section {
    display: none;
  }
  .logo {
    img{
    width: 200px;
  }}
  .cont-part {
    width: 50%;
  }
  .cont-part {
  justify-content: space-evenly;
  }

  .search {
    // flex-grow: 1;
  }
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 3em;
  margin-right: 2em;
  align-items: baseline;
}
.search {
  flex-grow: 1;
  margin-right: 2em;
}
.account {
  margin-right: 2em;
}

/* Media query styles for big screens */
@media only screen and (min-width: 1200px) {
  /* Big screen styles go here */
  .icon-size {
    font-size: 2em; /* 2x default size */
  }
  .search-bar {
    height: 4.6rem;
  }
  .logo {
    img {
      width: 300px;
    }
  }
}

/* Media query styles for middle screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Middle screen styles go here */
  .icon-size {
    font-size: 1.5em; /* 1.5x default size */
  }
  .logo {
    img {
      width: 250px;
    }
  }
  .search, .account {
    margin-right: 15px;
  }
  .search-bar {
    height: 3.6rem;
    // width: 200px;
  }
  .top-row {
    padding-top: 10px;
  }
  .bottom-row {
    justify-content: initial;
  }
  .search-bar__input {
    font-size: small;
    // width: 9rem;
    border-radius: 10px;
  }
  .search {
    width: 30%;
  }
  .categories a {
    display: flex;
    justify-content: center;
  }

}

/* Media query styles for small screens */
@media only screen and (max-width: 991px) {
  .icon-size {
    font-size: 1em; /* Default size */
  }
  .account .icon-size {
    font-size: 1.5em;
  }
  .logo {
    img {
      width: 150px;
    }
  }
  .categories a {
    display: flex;
    justify-content: center;
  }

  .slider-img {
    height: 20rem;
  }

  .top-row {
    padding-top: 10px;
  }

  .search {
    flex-grow: 0;
  }
  .search-bar__button {
    svg {
      height: 16px;
      width: 16px;
    }
  }
  .products-grid {
    justify-content: center;
  }

  .search-bar__button {
    width: 22px;
  }
  .search-bar__input {
    font-size: small;
    border-radius: 10px;

  }
  .search-bar {
    height: 2.8rem;
  }

  .link-text {
    // width: 12px;
    // height: 12px;
    // top: -15px;
  }
  .account {
    margin-right: 5px;
  }
  .bottom-row {
    justify-content: space-around;
    margin-right: 0;
    align-items: baseline;
  }

  .category-navigation {
    padding: 0;
  }
  .categories__list {
    flex-wrap: wrap;
    font-size: .5rem;
  }
  .search {
    margin-right: 10px;
    height: 3rem;
  }
  .cart-info .link-text {
    font-size: 7px;
    width: 14px;
    height: 14px;
  }
  .cart-info {
    height: 18px;
    width: 18px;
  }
  .cart-info .link-text {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
.cart-info .link-text {
  background: #772431;
}

  .slick-slide {
    img {
    max-height: 6em;
  }
}