<%#= t("terms_of_use") %>
<div class="ft-block">
  <section class="for-them">

    <div class="ft-title">
      <h1 class="ft-title">
        <%= I18n.t("shapes_for_them_title") %>
      </h1>
    </div>

    <div class="ft-subtitle">
      <p class="subtitle">
        <%= I18n.t("shapes_for_them") %>
      </p>
    </div>

  </section>
</div>
</section>
HERE WILL BE PRIVACY POLICY TERMS
<br><%= link_to 'Back', :back %>
SHAPES was born with the fundamental objective of bringing quality products for the needs of each woman who feels good in her own skin. Our mission is to satisfy the needs with guaranteed quality. Shapes offers everything from products to tips and tricks to show the best version of themselves. Shapes offers beautiful and functional pieces of clothing with style and elegance, European lingerie from well-known brands, invisible underwear, maternity, women's accessories, swimwear. And we will be further expanding our collection to become a brand that will offer new collections and products. We are proud to offer products for all shapes and sizes, innovative solutions created by women, with the needs of every woman in mind. Our motto is always to improve, grow and learn. Constantly innovating, to offer you the best possible experience and quality for our customers. 