<div class="text-block">
  <h1>Es<h1>
  <h2>POLITICA DE LA TIENDA SHAPES PARA CLIENTES</h2>

  <ul>
    <li>Se le respetara el precio estipulado en la etiqueta de la prenda.</li>
    <li>Las operaciones de ventas se realizan al contado y con tarjeta de crédito.</li>
    <li>No nos hacemos responsables de artículos personales perdidos en la Boutique.</li>
    <li>Se prohíbe entrar con bolsas de plástico (tiendas, súper, etc.)</li>
    <li>No hay devoluciones de dinero por el artículo comprado pero si se acepta el artículo para reemplazar en un plazo de 48 horas por otro artículo siempre y cuando tenga todas sus etiquetas y este en perfectas condiciones el  artículo será reemplazado por otro.</li>
    <li>El intercambio del articulo o devolución por otro se aceptara solo con la factura que tenga el plazo estipulado.</li>
    <li>En caso de cambio del artículo por uno de menos valor, se otorgara un crédito por la cantidad que estaría disponible en nuestra tienda física y sitios web. Nuestros productos y piezas se ponen en existencia en pequeñas cantidades y limitadas, no se garantiza la disponibilidad del mismo producto para el intercambio de mercancía.</li>
    <li>Si compras una penda en promoción o especial el precio que debe considerarse para el cambio es el monto final que pago. Independientemente del precio actual de la pieza en la tienda. Si lo que compro dejo de promocionarse, debería pagar el pecio actual de la parte.</li>
    <li>
      Razones por las que aceptamos devoluciones:
      <ul>
        <li>Cambiar por otro tamaño</li>
        <li>Cambio por defecto de fabrica</li>
      </ul>
    </li>
    <li>
      Razones por las cuales no aceptamos devoluciones:
      <ul>
        <li>Prendas en mal estado</li>
        <li>No devolvemos regalos sin recibo</li>
        <li>Productos que han sido modificados con ajustes, etc.</li>
      </ul>
    </li>
    <li>La etiqueta del producto no debe ser violada y el producto no debe mostrar signos de uso ni ningún tipo de modificación realizada por el cliente.</li>
    <li>El envío es un pago adicional al pago de la factura final.</li>
  </ul>

  <br><%= link_to 'Back', :back %>

  <h1>En<h1>
  <h2>SHAPES STORE CUSTOMER POLICY</h2>

  <ul>
    <li>The price stated on the garment tag will be respected.</li>
    <li>Sales transactions are made by cash and credit card.</li>
    <li>We are not responsible for personal items lost in the Boutique.</li>
    <li>It is forbidden to enter with plastic bags (stores, supermarkets, etc.)</li>
    <li>Money is not refunded for the purchased item, but the item can be exchanged within 48 hours for another item as long as it has all its tags and is in perfect condition. The item will be replaced with another.</li>
    <li>The exchange of the item or return for another will only be accepted with the invoice that has the stipulated period.</li>
    <li>In the case of exchanging an item for one of less value, a credit will be granted for the amount that is available in our physical store and websites. Our products and pieces are available in small quantities and are limited, and we do not guarantee the availability of the same product for the exchange of merchandise.</li>
    <li>If you buy a discounted or special item, the price to be considered for the exchange is the final amount that you pay. Regardless of the current price of the piece in the store. If what I bought goes out of promotion, I should pay the current price of the part.</li>
    <li>
      Reasons for which we accept returns:
      <ul>
        <li>Change for a different size</li>
        <li>Change due to factory defect</li>
      </ul>
    </li>
    <li>
      Reasons for which we do not accept returns:
      <ul>
        <li>Garments in poor condition</li>
        <li>We do not return gifts without a receipt</li>
        <li>Products that have been modified with adjustments, etc.</li>
      </ul>
    </li>
    <li>The product label must not be violated and the product must not show signs of use or any modification made by the customer.</li>
    <li>Shipping is an additional payment to the final bill.</li>
  </ul>

  <br><%= link_to 'Back', :back %>
</div>