// Place all the styles related to the terms_of_use controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.terms-of-use {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
