* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  // background-color: #E0C2AF;
  color: #5E1C4C;
  -webkit-text-stroke: .03em #dbabb3;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;

  margin-top: -50px;
  color: #5E1C4C;
  -webkit-text-stroke: .02em #dbabb3;
  font-weight: bold;
  font-size: 30px;
  border-radius: 60px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-right: 6%;
  right: 0;
}
.prev {
  margin-left: 6%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #dbabb3;
  -webkit-text-stroke: .08em #5E1C4C;
}

/* Container for image text */
.caption-container {
  text-align: center;
  // background-color: #222;
  padding: 2px 16px;
  color: #5E1C4C;
}

.thumbs {
  display: flex;
}

.row {
  margin: 2rem 0 2rem 7%;
  display: flex;
  justify-content: space-around;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.slider-image {
  width: 75%;
  justify-content: center;
}

.slider-image-div {
  display: flex;
  justify-content: center;
}

